{% load static %}
<!DOCTYPE html>

<html lang="es">

<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Iniciar Sesión</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/SGI_inicio.css' %}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <style>

    

  </style>

</head>

<body>



  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">SGIStockMaster</a>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav">

        <li class="nav-item active">

          <a class="nav-link" href="#">Inicio</a>

        </li>

        <li class="nav-item">

          <a class="nav-link" href="#">Sobre Nosotros</a>

        </li>

        <li class="nav-item">

          <a class="nav-link" href="#">Contacto</a>

        </li>

      </ul>

    </div>

  </nav>



  <div class="login-container">

    <div class="login-form">

      <h2 class="text-center">Iniciar Sesión</h2>

  

      <!-- Formulario para Administrador -->

      <form id="admin-login-form">

        <div class="form-group">

          <label for="admin-email">Email (Administrador)</label>
          <div class="input_estilo">
          <input type="email" class="input_box" id="admin-email" placeholder="Introduce tu email" value="unadmin@gmail.com">
          <i class='bx bxs-user'></i>
          </div>
        </div>

        <div class="form-group">

          <label for="admin-password">Contraseña</label>
          <div class="input_estilo">
          <input type="password" class="input_box" id="admin-password" placeholder="Introduce tu contraseña" value="unadmin">
          <i class='bx bxs-lock-alt' ></i>
          </div>
        </div>

        <button type="submit" class="boton_iniciarsesion">Iniciar Sesión como Administrador</button>

      </form>

  

      <hr>

  

      <!-- Formulario para Colaborador -->

      <form id="collaborator-login-form">

        <div class="form-group">
          
          <label for="collaborator-email">Email (Colaborador)</label>
          <div class="input_estilo">
            <input type="email" class="input_box" id="collaborator-email" placeholder="Introduce tu email" value="uncollaborador@gmail.com">
            <i class='bx bxs-user'></i>
          </div>
        </div>

        <div class="form-group">

          <label for="collaborator-password">Contraseña</label>
          <div class="input_estilo">
            <input type="password" class="input_box" id="collaborator-password" placeholder="Introduce tu contraseña" value="uncollaborador">
            <i class='bx bxs-lock-alt' ></i>
          </div>
        </div>

        <button type="submit" class="boton_iniciarsesion">Iniciar Sesión como Colaborador</button>

      </form>

  

      <hr>
      <div class="link_registro">
        <p >

          ¿No tienes cuenta? <a href="{% url 'registrarse' %}">Regístrate aquí</a>

        </p>

        <p >

          ¿Olvidaste tu contraseña? <a href="{% url 'recuperar_contrasena' %}">Recuperar contraseña</a>

        </p>
      </div>
    </div>

  </div>

  



  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.11/dist/umd/popper.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



  <script>

      // Manejar el inicio de sesión

      document.getElementById('admin-login-form').addEventListener('submit', async function(event) {

    event.preventDefault();

    const emailAdmin = document.getElementById('admin-email').value;

    const passwordAdmin = document.getElementById('admin-password').value;



    if (!emailAdmin || !passwordAdmin) {
      alert('Por favor, introduce tus credenciales de administrador.');
      return;
    }

    const url = 'http://localhost:8001/api/token/';
    const credentials = { email: emailAdmin, password: passwordAdmin };
    const response = await fetch(url, {

      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(credentials)

    });



    if (response.ok) {

      const data = await response.json();
      localStorage.setItem('token', data.access);
      alert('Inicio de sesión exitoso como Administrador.');
      window.location.href = '{% url "dashboard" %}';

    } else {
      alert('Error en el inicio de sesión. Por favor verifica tus credenciales.');

    }

  });



  document.getElementById('collaborator-login-form').addEventListener('submit', async function(event) {
    event.preventDefault();
    const emailCollaborator = document.getElementById('collaborator-email').value;
    const passwordCollaborator = document.getElementById('collaborator-password').value;



    if (!emailCollaborator || !passwordCollaborator) {

      alert('Por favor, introduce tus credenciales de colaborador.');

      return;

    }



    const url = 'http://localhost:8001/api/token/';

    const credentials = { email: emailCollaborator, password: passwordCollaborator };



    const response = await fetch(url, {

      method: 'POST',

      headers: { 'Content-Type': 'application/json' },

      body: JSON.stringify(credentials)

    });



    if (response.ok) {

      const data = await response.json();

      localStorage.setItem('token', data.access);

      alert('Inicio de sesión exitoso como Colaborador.');

      window.location.href = '{% url "colaborador_dashboard" %}';

    } else {

      alert('Error en el inicio de sesión. Por favor verifica tus credenciales.');

    }

  });



  </script>

</body>

</html>